<%- model_class = @basica.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], 
    :model => model_class.human_attribute_name(model_class.model_name.to_s.demodulize) 
    %></h1>
</div>
<%= render :partial => 'form' %>
