<% if !defined?(relacion) %>
  Falta símbolo con relacíon en parametro <tt>relacion</tt>. e.g :proyectofinanciero_solicitud
  <% return %>
<% end %>

<div id="solicitud" class="panel-body table-responsive" >
  <div class="div-tabla"> 
    <div id="caso_solicitudes_marco" class="div-tabla-cuerpo">
      <div class="div-tabla-fila"> 
        <div class="div-tabla-celda">Solicitante</div>
        <div class="div-tabla-celda">Fecha</div>
        <div class="div-tabla-celda"><%= Msip::Solicitud.human_attribute_name(:Solicitud) %></div>
        <div class="div-tabla-celda">Estado</div>
        <div class="div-tabla-celda">Destinatario(s)</div>
        <div class="div-tabla-celda">Acciones</div>
      </div>
      <%= f.simple_fields_for relacion do |op| %>
        <%= render partial: 'msip/solicitudes/solicitud_campos', 
          locals: {f: op} %>
      <% end %>
    </div>
  </div>
  <div class="enlace-agregar-solicitud">
    <%= f.submit "Agregar #{Msip::Solicitud.human_attribute_name(:Solicitud)}",
      formaction: crear_caso_solicitud_path(index: @caso.caso_solicitud.size),
      formmethod: :post,
      formnovalidate: true,
      class: 'btn btn-sm btn-primary',
      name: "agregar-caso-solicitud",
      id: "agregar-caso-solicitud", 
      data:  {
        disable_with: false } %>
  </div>
</div>
