<div class="accordion" id="acordeon_caids">
  <%= item_acordeon_bs(
    'acordeon_caids', 'caids', 
    'Expandir / Colapsar', false, {
      'estilo_accordion-header': 'text-align: center',
      'clase_accordion-body': 'table-responsive',
      'estilo_accordion-body': 'overflow-x:scroll'
    }) do %>
    <table class='table table-bordered table-sm'>
      <thead class='thead-light'>
        <tr>
          <th>Id Caso</th><th>Fecha</th><th>Ubicación</th>
        </tr>
      </thead class='thead-light'>
      <tbody>
        <% @registro.caso.order(:fecha).each do |c| %>
          <tr>
            <td>
              <%= link_to c.id, sivel2_gen.caso_path(c), target: '_blank' %>
            </td>
            <td>
              <%= c.fecha %>
            </td>
            <td>
              <%= c.ubicacion_id ? Sip::Ubicacion.find(c.ubicacion_id).presenta_nombre({sin_pais: true}) : '' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
