<div class="row filtro-fila">
  <div class="offset-sm-0 col-sm-3 offset-md-1 col-md-1">
  </div>
  <div class="col-sm-9 accordion" id='colcategorias'>
    <%= render partial: 'filtro_categorias_item_acordeon', 
      locals: {f: f, divacordeon: 'colcategorias'} %>
  </div> <!-- colcategorias -->
</div> <!-- row -->

