<div class="row">
  <div class="col-sm-3">
    <%= render partial: "msip/personas/campo_anionac_caso", 
      locals: { f: f, fvictima: fvictima } %>
  </div>
  <div class="col-sm-3">
    <%= render partial: "msip/personas/campo_edad_caso", 
      locals: { f: f, fvictima: fvictima } %>
  </div>
  <div class="col-sm-3">
    <%= render partial: "msip/personas/campo_edadactual_caso", 
      locals: { f: f, fvictima: fvictima } %>
  </div>
  <div class="col-sm-3">
    <%= render partial: "msip/personas/campo_rangoedad_caso", 
      locals: { f: f, fvictima: fvictima } %>
  </div>
</div>

