Este sistema usa motores también desarrollados por Pasos de Jesús con 
licencia ISC que han sido re-factorizados de sistemas de información de 
dominio público financiados por diversas organizaciones:

<ul>
  <li> 
    <a href="https://gitlab.com/pasosdeJesus/msip">msip</a> 
    <ul>
      <li> 
        <a href="https://gitlab.com/pasosdeJesus/mr519_gen">mr519_gen</a> 
        <ul>
          <li> 
          <a href="https://gitlab.com/pasosdeJesus/heb412_gen">heb412_gen</a></li>
        </ul>
      </li>
      <li> 
        <a href="https://gitlab.com/pasosdeJesus/sivel2_gen">sivel2_gen</a>
      </li>
    </ul>
  </li>
</ul>
