
<div class="row filtro-fila">
  <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
    Etiqueta
  </div>
  <div class="offset-sm-0 col-sm-4">
    <%= f.input :etiqueta_id,
      collection: Sip::ModeloHelper.opciones_tabla_basica(
        Sip::Etiqueta, f, :etiqueta_id
      ),
      selected: (
        params[:validarcaso] ? 
        params[:validarcaso][:etiqueta_id] :
        ''
      ),
      include_blank: true,
      label_method: :presenta_nombre,
      label: false
    %>
  </div>
  <div class="offset-sm-0 col-sm-4">
  </div>
</div>

