<article>
<h1>Acerca de</h1>
<p>sivel2_gen es motor del Sistema de Información de Violencia Política en Línea.</p>

<p>Este sistema de información 
<a href="http://www.pasosdeJesus.org/dominio_publico_colombia.html" target="_blank">dominio público de acuerdo a la legislación Colombiana</a>, 
ha sido desarrollado por 
<a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>.
</p>

<p>
Puede consultar más sobre la versión que precede a este sistema de
información en <a href="http://sivel.sf.net">la página de SIVeL 1</a>.
</p>

<p>
Agradecemos a <a href="http://www.sjrlac.org" target="_blank">SJR LAC</a> y <a href="http://www.nocheyniebla.org" target="_blank">Banco de Datos
  de Violencia Política, DH y DIH del CINEP</a> 
la financiación para personalizaciones a sistemas de dominio público que se basan en este motor.
</p>
</article>
