<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.association :ayudasjr,
			collection: Ayudasjr.order(:nombre),
	    label: "Asist. Humanitaria",
      label_method: :nombre,
	    value_method: :id %>
    <%= link_to_remove_association "Eliminar Asistencia Humanitaria", f, 
        :class => 'btn-danger' %> 
  </div>
</div>
