<%= simple_form_for @usuario, :html => { :class => 'form-horizontal' } do |f| %>

  <%= render 'usuario', :f => f %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                usuarios_path, :class => 'btn' %>
  </div>
<% end %>
