<div class= "row input string visual_nav_fuente"> 
  <div class="col-md-6">
  <h4><label class= "string control-label" for="visual_nav_fuente">
    Color de fuente en barra de navegación:
    </label></h4>
    <input type="text" value="000000" name="visual[nav_fuente]"  class="pick-a-color form-control">
  </div>
</div>
