<div class= "row input string visual_nav_ini"> 
  <div class="col-md-6">
  <h4><label class= "string control-label" for="visual_nav_ini">
    Color inicial de barra de navegación:
    </label></h4>
    <input type="text" value="000000" name="visual[nav_ini]"  class="pick-a-color form-control">
  </div>
</div>
