<div class= "row input string visual_list_back"> 
  <div class="col-md-6">
  <h4><label class= "string control-label" for="visual_list_back">
    Color de fondo en listados:
    </label></h4>
    <input type="text" value="000000" name="visual[list_back]"  class="pick-a-color form-control">
  </div>
</div>
