<article>
<h1>Acerca de</h1>
<p>SIVeL2-Venezuela es un sistema de información en 
desarrollo que permite registrar casos de refugio, así como desplazamientos 
y actos de violencia político-social.</p>
<p>Este sistema de información de 
<a href="http://www.pasosdeJesus.org/dominio_publico_colombia.html" target="_blank">dominio público de acuerdo a la legislación Colombiana</a>, 
ha sido financiado por el <a href="http://www.sjrlac.org" target="_blank">SJR LAC</a> 
y ha sido desarrollado por 
<a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>.  
Puede consultar más sobre la versión que precede a este sistema de
información en <a href="http://sivel.sf.net">la página de SIVeL 1</a>.</p>
<p>El Servicio Jesuita de Refugiados Latinoamérica y el Caribe (SJR LAC) 
está presente en 6 países: Colombia, Ecuador, Panamá, Venezuela y 
realiza intervenciones concretas en los campamentos de desplazados en 
Haití y a favor de migrantes haitianos en Brasil. Desarrolla programas 
de acompañamiento psicosocial, asistencia jurídica y defensa de derechos 
humanos, servicios sociales y de acción humanitaria, y otros procesos 
para promover y potenciar la independencia y auto-sostenibilidad de 
las personas que acompaña, tales como: educación formal y no formal para 
niños-as, jóvenes y adultos, programas de emprendimiento económico, 
integración comunitaria, pastoral, etc.  Ver más en 
la <a href="http://www.sjrlac.org/Nosotros">página web del SJR LAC</a>. </p>
</article>
