<article>
<h1>Acerca de</h1>
<p>SIVeL2 es un sistema de información en 
desarrollo que permite registrar casos de violencia político-social.</p>
<p>Este sistema de información de 
<a href="http://www.pasosdeJesus.org/dominio_publico_colombia.html" target="_blank">dominio público de acuerdo a la legislación Colombiana</a>, 
ha sido desarrollado por 
<a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>.
</p>
<p>
Agradecemos a <a href="http://www.sjrlac.org" target="_blank">SJR LAC</a> 
la financiación de personalizaciones de dominio público.
</p>
<p>
Puede consultar más sobre la versión que precede a este sistema de
información en <a href="http://sivel.sf.net">la página de SIVeL 1</a>.</p>
</article>
