@import "mapa.css"
@import "mapacalor.css"
@import "mapaosm.css"

.pagination {
	text-align: center;
}

p.derechos {
	font-size: 80%;
	color: #000000;
	background-color: #f8f8f8;
	border-top: 1px solid #e7e7e7;
}

.anexosdiv {
	border: 1px solid #e7e7e7;
	border-radius: 5px;
}

ul.heb412 {
	list-style-type: none;
}

/* Estilo para capa superpuesta Cargando por Luis Alejandro Cruz */
.capa-cargando {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1050;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Estilo tabla de
 * https://stackoverflow.com/questions/3053205/how-create-table-only-using-div-tag-and-css
 */
.div-tabla {
  width: 100%;
  display: table;
}
.div-tabla-cuerpo {
  display: table-row-group;
}

.div-tabla-fila {
  display: table-row;
}

.div-tabla-celda {
  display: table-cell;
  border: 1px solid #dddddd;
  padding: 8px;
  vertical-align: top;
}
