<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta ha sido bloqueada debido a un número excesivo de 
intentos de ingreso.</p>

<p>Se desbloqueará automáticamente en una hora, pero si requiere
desbloquearla antes comuniquese con un administrador o emplee
el siguiente enlace:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_path(@resource, :unlock_token => @token) %></p>
