<!-- Ya viene un <td> abierto de index.html -->
<% @pconsolidado.each do |p| %>
  <%= f.input "buspconsolidado_#{p[0]}".to_sym,
    collection: {'Todos': "Todos", 'Si': "Si", 'No': "No"},
    include_blank: false,
    input_html: {
      class: 'tom-select',
      'data-action': 'change->msip--enviarautomatico#enviar'
    },
    label: false,
    selected: Msip::ModeloHelper.poromision(
      params, "buspconsolidado_#{p[0]}".to_sym
    )
  %>
  </td><td>
<% end %>
