<!-- Ya viene un <td> abierto de index.html -->
<% @pconsolidado.each do |p| %>
  <% #byebug %>
  <%= f.input "buspconsolidado_#{p[0]}".to_sym,
    collection: {'Todos': "Todos", 'Si': "Si", 'No': "No"},
    label: false,
    selected: Msip::ModeloHelper.poromision(params, 
                                           "buspconsolidado_#{p[0]}".to_sym),
    input_html: {
      class: 'tom-select',
      'data-enviarautomatico' => '',
    },
    include_blank: false
  %>
  </td><td>
<% end %>
