<!-- Ya viene un <td> abierto de index.html -->
<% @pconsolidado.each do |p| %>
  <% campo = "bus#{p[1]}" %>
  <%= f.input campo,
    collection: ['Todos', 'Si', 'No'],
    label: false,
    input_html: {
      class: 'chosen-select',
      'data-enviarautomatico' => '',
      value: Sip::ModeloHelper.poromision(params, campo)
    },
    include_blank: false
  %>
  </td><td>
<% end %>
