<div class="container">
  <div class="row filtro-fila">
    <div class="offset-sm-0 col-sm-4">
    Etiqueta del caso:
    <%= f.input :busetiqueta_caso,
        collection: Msip::ModeloHelper.opciones_tabla_basica(
          Msip::Etiqueta, f, :etiqueta_id
        ),
        selected: Msip::ModeloHelper.poromision(params, 
                                               "busetiqueta_caso".to_sym),
        input_html: {
          class: 'chosen-select',
          'data-enviarautomatico' => '',
        },
        include_blank: true,
        label_method: :presenta_nombre, 
        label: false
      %>
    </div>
  </div>
</div>
