<div class="row">
  <div class="col-md-6">
    <%= titulo %>: <span id="numregistros"><%= @registros ? @registros.count : '' %></span>
  </div>
  <div class="col-md-6">
    <span>Registros por página:  <%= @registros ? @registros.size : '' %> </span>
  </div>
</div>
