<!-- Ya viene un <td> abierto de index.html -->
<% total = @pconsolidado.count %>
<% i = 0 %>
<% @pconsolidado.each do |p| %>
  <% id = p[0]; rotulo = p[1]; cat = p[2] %>
  <% if registro && registro.caso && registro.caso.acto.where(
      categoria_id: cat, persona_id: registro.persona.id).count > 0 %>
      1
  <% end %>
  <% i+= 1 %>
  <% if i < total %>
    </td><td>
  <%end %>
<% end %>
<%= render partial: 'index_campo_pconsolidado_complemento', 
    locals: {registro: registro} %>
<!-- El </td> final esta en index.html -->
