<div class='control-group nested-fields'>
  <div class="controls">

    <%= render 'actoin_fields', :f => f %>

    <%= link_to_remove_association "Eliminar Acto", f, :class => 'btn-danger' %> 
  </div>
</div>
