<%= f.simple_fields_for :anexo_caso do |anexo| %>
  <%= render 'anexo_caso_fields', :f => anexo %>
<% end %>
<div class="links">
  <%= link_to_add_association 'Añadir Anexo', f, 
    :anexo_caso, :class => 'btn-primary' 
  %>
</div>
