<div class='control-group nested-fields'>
  <div class="controls">
    <%  f.object.sip_anexo = Sip::Anexo.new if !f.object.sip_anexo %>

    <%= f.input :fecha, 
        :input_html => { "data-behaviour" => "datepicker" },
        :as => :string, :label => "Fecha" 
    %>
    <%= f.simple_fields_for :sip_anexo do |a| %>
      <%= render 'sip/anexos/anexo_campos', a: a %>
    <% end %> 

    <%= link_to_remove_association "Eliminar Anexo", f, 
      :class => 'btn-danger' 
    %> 
  </div>
</div>
