<div id="anexos_caso_marco">
  <%= f.simple_fields_for :anexo_caso, 
    child_index: params[:index] do |anexo| %>
    <%= render partial: 'sivel2_gen/casos/anexo_caso_campos', 
      locals: {f: anexo} %>
  <% end %>
</div>

<div class="enlace-agregar-anexo">
  <%= f.submit "Añadir Anexo",
    class: 'btn btn-sm btn-primary agregar-ca',
    data:  {
      disable_with: false 
    },
    formaction: sivel2_gen.crear_anexo_caso_path(
      index: @caso.anexo_caso.size
    ),
    formmethod: :post,
    formnovalidate: true,
    id: "agregar-anexo-caso",
    name: "agregar-anexo-caso" %>
</div>
