<div class="row">
  <div class="col-md-6">
    <%= f.association :region, 
      collection: Sip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Region, f, :region
      ),
      label_method: :nombre, 
      input_html: { class: 'chosen-select' },
      value_method: :id %>
  </div>
  <div class="col-md-6">
    <%= f.association :frontera, 
      collection: Sip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Frontera, f, :frontera
      ),
      label_method: :nombre, 
      input_html: { class: 'chosen-select' },
      value_method: :id %>
  </div>
</div>
