<div class="col-md-6">
  <%= f.association :rangoedad,
    collection: Sivel2Gen::Rangoedad.habilitados(:rango),
    include_blank: false,
    label_method: :rango, 
    value_method: :id 
  %>
</div>
