<% # Capa sobropuesta cargando con icono giratorio. %>
<% # Implementada por Luis Alejandro Cruz con spinner de Bootstrap 5 %>
<% # Licencia ISC %>

<% # Para activarla desde javascript usar: %>
<% #   document.getElementById("capa-cargando").style.display = 'flex'; %>
<% # y para desactivarla: %>
<% #   document.getElementById("capa-cargando").style.display = 'none'; %>

<div id="capa-cargando" class="capa-cargando">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Cargando...</span>
  </div>
  <p>Cargando...</p>
</div>
