<div id="combatientes_marco">
  <%= f.simple_fields_for :combatiente, 
    child_index: params[:index] do |com| %>
    <%= render '/sivel2_gen/casos/combatiente_campos', :f => com %>
  <% end %>
</div>

<%= f.submit "Agregar Combatiente",
  formaction: sivel2_gen.crear_combatiente_path(index: @caso.combatiente.size),
  formmethod: :post,
  formnovalidate: true,
  class: 'btn btn-sm btn-primary',
  name: "agregar-combatiente",
  id: "agregar-combatiente",
  input_html: {class: "tom-select"},
  data:  {
    disable_with: false } %>

