<div id="caso_etiquetas_marco">
  <%= f.simple_fields_for :caso_etiqueta do |cetiqueta| %>
    <%= render 'sivel2_gen/casos/caso_etiqueta_campos', :f => cetiqueta %>
  <% end %>
</div>

<div class="links">
  <%= f.submit "Agregar Etiqueta",
    class: 'btn btn-sm btn-primary agregar-ce',
    data:  {
      disable_with: false 
    },
    formaction: sivel2_gen.crear_caso_etiqueta_path(
      index: @caso.caso_etiqueta.size
    ),
    formmethod: :post,
    formnovalidate: true,
    id: "agregar-caso-etiqueta",
    name: "agregar-caso-etiqueta"
  %>
</div>

<% if f.object && f.object.id && !can?(:solocambiaretiquetas, Sivel2Gen::Caso) %>
  <hr>

  <%= render partial: 'msip/solicitudes/tabla_solicitudes',
    locals: {f: f, relacion: :caso_solicitud} %>
<% end %>


