<div id="caso_etiquetas_marco">
  <%= f.simple_fields_for :caso_etiqueta do |cetiqueta| %>
    <%= render 'sivel2_gen/casos/caso_etiqueta_campos', :f => cetiqueta %>
  <% end %>
</div>

<div class="links">
  <%= f.submit "Agregar Etiqueta",
      formaction: crear_caso_etiqueta_path(index: @caso.caso_etiqueta.size),
      formmethod: :post,
      formnovalidate: true,
      class: 'btn btn-sm btn-primary agregar-ce',
      name: "agregar-caso-etiqueta",
      id: "agregar-caso-etiqueta", 
      data:  {
        disable_with: false } %>
</div>

<% if f.object && f.object.id && !can?(:solocambiaretiquetas, Sivel2Gen::Caso) %>
  <hr>

  <%= render partial: 'msip/solicitudes/tabla_solicitudes',
    locals: {f: f, relacion: :caso_solicitud} %>
<% end %>


