<%= f.simple_fields_for :caso_etiqueta do |cetiqueta| %>
  <%= render 'sivel2_gen/casos/caso_etiqueta_fields', :f => cetiqueta %>
<% end %>
<div class="links">
  <%= link_to_add_association 'Añadir Etiqueta', f, 
    :caso_etiqueta, 
    partial: 'sivel2_gen/casos/caso_etiqueta_fields',
    class: 'btn btn-sm btn-primary',
    'data-ajax' => File.join(Rails.configuration.relative_url_root,
                             'casoetiquetas/nueva'),
    'data-ajaxdata' => 'caso_id'
  %>
</div>

<% if f.object && f.object.id && !can?(:solocambiaretiquetas, Sivel2Gen::Caso) %>
  <hr>

  <%= render partial: 'sip/solicitudes/tabla_solicitudes',
    locals: {f: f, relacion: :caso_solicitud} %>
<% end %>


