<div class= "row">
  <div class="col-sm-8">
    <%= render :partial => "sivel2_gen/casos/filtro_mapaosm" %>
  </div>
  <div class="col-sm-4">
    <div class= "row">
      <div class="col-sm-6">
        <div class="alert alert-success" role="alert">
          <span class="nrcasos" id="nrcasos"></span>
        </div>
      </div>
      <div class="col-sm-6">
        <button data-action="click->sivel2-gen--mapaosm#filtrar" type="button" class="btn btn-primary">Filtrar</button>
        <%= render partial: 'mapaosm_masbotones' %>
        <div id="cargador" class="spinner-border text-secondary" role="status">
          <span class='sr-only'>Cargando...</span>
        </div>

      </div>
    </div>
  </div>
</div>
