<div id="fotras_frame">
<%= f.simple_fields_for :caso_fotra, child_index: params[:index] do |cfo| %>
  <%= render '/sivel2_gen/casos/caso_fotra_campos', :fp => cfo %>
<% end %>
</div>

<%= f.submit "Agregar otra fuente",
      formaction: casos_fotra_path(index: @caso.caso_fotra.size),
      formmethod: :post,
      formnovalidate: true,
      id: "add-casofotra" %>

