<div id="caso_fotras_marco">
  <%= f.simple_fields_for :caso_fotra, child_index: params[:index] do |cfo| %>
    <%= render '/sivel2_gen/casos/caso_fotra_campos', :fp => cfo %>
  <% end %>
</div>

<%= f.submit "Agregar otra fuente",
  formaction: crear_caso_fotra_path(index: @caso.caso_fotra.size),
  formmethod: :post,
  formnovalidate: true,
  class: 'btn btn-sm btn-primary',
  name: "agregar-caso-fotra",
  id: "agregar-caso-fotra",
  data:  {
    disable_with: false } %>

