<div id="caso_fuentesprensa_marco">
  <%= f.simple_fields_for :caso_fuenteprensa, 
    child_index: params[:index] do |cfp| %>
    <%= render '/sivel2_gen/casos/caso_fuenteprensa_campos', :fp => cfp %>
  <% end %>
</div>

<%= f.submit "Agregar fuente",
  formaction: sivel2_gen.crear_caso_fuenteprensa_path(index: @caso.fuenteprensa.size),
  formmethod: :post,
  formnovalidate: true,
  class: 'btn btn-sm btn-primary',
  name: "agregar-caso-fuenteprensa",
  id: "agregar-caso-fuenteprensa",
  data:  {
    disable_with: false } %>

