<%= f.simple_fields_for :caso_fuenteprensa do |cfp| %>
  <%= render 'sivel2_gen/casos/caso_fuenteprensa_campos', :f => cfp %>
<% end %>
<div class="links">
  <%= link_to_add_association 'Añadir Fuente de Prensa', f, :caso_fuenteprensa, 
     partial: 'sivel2_gen/casos/caso_fuenteprensa_campos',
     :class => 'btn-primary' 
  %>
</div>
