<div id="fuentesprensa_frame">
<%= f.simple_fields_for :caso_fuenteprensa, child_index: params[:index] do |cfp| %>
  <%= render '/sivel2_gen/casos/caso_fuenteprensa_campos', :fp => cfp %>
<% end %>
</div>

<%= f.submit "Agregar fuente",
      formaction: casos_fuenteprensa_path(index: @caso.fuenteprensa.size),
      formmethod: :post,
      formnovalidate: true,
      class: 'btn btn-sm btn-primary add-vic',
      id: "add-casofuenteprensa" %>

