<%= f.simple_fields_for :caso_presponsable do |caso_presponsable| %>
  <%= render 'sivel2_gen/casos/caso_presponsable_campos', 
    f:  caso_presponsable 
  %>
<% end %>
<div class="links">
  <%= link_to_add_association 'Añadir ' + 
    Sivel2Gen::Presponsable.human_attribute_name(:presponsable), f, 
    :caso_presponsable, 
    {
      partial: 'sivel2_gen/casos/caso_presponsable_campos',
      class: 'btn-primary', 
      "data-ajax" => File.join(Rails.configuration.relative_url_root, 
                             "admin/presponsables/nuevo"),
      "data-ajaxdata" => "caso_id"
    } 
  %>
</div>
