<div id="presponsables_frame">
<%= f.simple_fields_for :caso_presponsable, child_index: params[:index] do |cpr| %>
  <%= render '/sivel2_gen/casos/caso_presponsable_campos', :f => cpr %>
<% end %>
</div>

<%= f.submit "Agregar presunto responsable",
      formaction: casos_presponsable_path(index: @caso.presponsable.size),
      formmethod: :post,
      formnovalidate: true,
      id: "add-casopresponsable" %>

