<div class="row">
  <div class="col-md-6">
    <%= f.association :sectorsocial,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Sectorsocial, f, :sectorsocial
      ),
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Sector social al que pertenecía en el momento del hecho' 
      } %>
  </div>
  <div class="col-md-6">
    Sectores Sociales Secundarios:
    <%= f.association :sectorsocialsec,
      collection: Msip::ModeloHelper.opciones_tabla_basica(
        Sivel2Gen::Sectorsocial, f, :sectorsocialsec
      ),
      label: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        multiple: true,
        class: 'tom-select'
      } %>
  </div>
</div>

