<%= f.input :ubicacionpreprincipal_id, as: :hidden %>
<div id="caso_ubicacionespre_marco">
  <%= f.simple_fields_for :caso_ubicacionpre, 
    f.object.caso_ubicacionpre.order(:id),
    child_index: params[:index] do |cubi| %>
    <%= render partial: 'sivel2_gen/casos/caso_ubicacionpre_campos', 
      locals: {f: cubi, formupapa: f} %>
  <% end %>
</div>

<%= f.submit "Agregar ubicacion",
  formaction: sivel2_gen.crear_caso_ubicacionpre_path(
    index: @caso.caso_ubicacionpre.size
  ),
  formmethod: :post,
  formnovalidate: true,
  class: 'btn btn-sm btn-primary',
  name: "agregar-caso-ubicacionpre",
  id: "agregar-caso-ubicacionpre",
  data:  {
    disable_with: false
  } 
%>
