<div class='control-group nested-fields'>
  <div class="controls">
    <% if f.object.persona.nil? %>
           <% f.object.persona = Sip::Persona.new %>
    <% end %>
      
    <%= render partial: 'contacto_campos', locals: {f: f} %>
    <%= link_to t('Crea Copia'), '#',
                  class: 'btn btn-sm', 
                  onclick: 'crea_copia_de_victima(this, event)' %>
    <%= link_to_remove_association(
      "Eliminar Víctima", f, 
      {:class => 'btn-danger', :'data-existing' => 'true'}) %> 
  </div>
</div>
