<div class='control-group nested-fields'>
  <div class="controls">
    <% if !f.object.grupoper
         f.object.grupoper = Msip::Grupoper.new
    end %>
       
    <%= render 'colectivo_campos', :f => f %>

    <%= link_to_remove_association "Eliminar Víctima Colectiva", f, {
      class: 'btn btn-sm btn-danger', 
      'data-existing': 'true',
      style: 'margin-bottom: 1em'
    } %> 
  </div>
</div>
