<div id="victimascolectivas_frame">
<%= f.simple_fields_for :victimacolectiva do |vc| %>
  <%= render 'victimacolectiva_campos', :f => vc %>
<% end %>
</div>

<div class="links">
  <%= f.submit "Agregar víctima colectiva",
      formaction: crear_victimacolectiva_path(index: @caso.victimacolectiva.size),
      formmethod: :post,
      formnovalidate: true,
      class: 'btn btn-sm btn-primary agregar-vic',
      name: "agregar-victimacolectiva",
      id: "agregar-victimacolectiva" %>
</div>
