<div id="victimas_frame">
<%= f.simple_fields_for :victima, child_index: params[:index] do |victima| %>
  <%= render '/sivel2_gen/casos/victima_campos', :f => victima %>
<% end %>
</div>

<datalist id='fuente-victimas'>
</datalist>

<datalist id="fuente-familiares">
</datalist>

<div class="links">
  <%= f.submit "Agregar víctima",
      formaction: crear_victima_path(index: @caso.victima.size),
      formmethod: :post,
      formnovalidate: true,
      class: 'btn btn-sm btn-primary',
      name: "agregar-victima",
      id: "agregar-victima",
      data:  {
        disable_with: false } %>
</div>
