
<div id="victimas_frame">
<%= f.simple_fields_for :victima, child_index: params[:index] do |victima| %>
  <%= render '/sivel2_gen/casos/victima_campos', :f => victima %>
<% end %>
</div>

<datalist id='fuente-victimas'>
</datalist>

<datalist id="fuente-familiares">
</datalist>

<div class="links">
  <%= f.submit "Agregar víctima",
      formaction: crear_victima_path(index: @caso.victima.size),
      formmethod: :post,
      formnovalidate: true,
      class: 'btn btn-sm btn-primary agregar-vic',
      name: "agregar-victima",
      id: "agregar-victima",
      data:  {
        disable_with: false } %>
</div>

<div style="display: none; position: fixed;
             left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999;
             background-color: rgba(174, 182, 191, 0.5) "
  id="mensaje-copia-vic" class="spinner-cargando">
  <div class="spinner-border text-primary" role="status" style="margin: auto">
    <span class="sr-only"></span>
  </div>
  <span>Creando copia... </span>
</div>
