<%= turbo_frame_tag "victimacolectiva_#{f.index}" do %>
<div class='control-group nested-fields'>
  <div class="controls">
    <% if f.object.grupoper.nil? %>
      <% f.object.grupoper = Msip::Grupoper.new %>
    <% end %>
    <%= render partial: 'sivel2_gen/casos/colectivo_campos',
      locals: {f: f} %>

    <%= f.submit "Eliminar", 
        formaction: eliminar_victimacolectiva_path(id: f.object.id, index: f.index),
        formmethod: :delete,
        formnovalidate: true,
        class: 'btn btn-sm btn-danger',
        data: { 
          turbo_frame: "victimacolectiva_#{f.index}",
          disable_with: false
        } %>
  </div>
</div>
<% end %>
