<%= f.simple_fields_for :victima do |victima| %>
  <%= render 'victima_campos', :f => victima %>
<% end %>

<datalist id='fuente-victimas'>
</datalist>

<div class="links">
  <%= link_to_add_association 'Añadir Víctima', f, :victima, { 
    partial: 'sivel2_gen/casos/victima_campos',
    class: 'btn btn-sm btn-primary agregar-vic',
    "data-ajax" => File.join(
      Rails.configuration.relative_url_root,
      "victimas/nuevo"
    ), 
    "data-ajaxdata" => "caso_id" } 
  %>
</div>
