<div id="victimascolectivas_frame">
<%= f.simple_fields_for :victimacolectiva, child_index: params[:index] do |vc| %>
  <%= render '/sivel2_gen/casos/victimacolectiva_campos', :f => vc %>
<% end %>
</div>

<datalist id='fuente-victimascolectivas'>
</datalist>

<div class="links">
  <%= f.submit "Agregar víctima colectiva",
      formaction: crear_victimacolectiva_path(index: @caso.victimacolectiva.size),
      formmethod: :post,
      formnovalidate: true,
      class: 'btn btn-sm btn-primary',
      name: "agregar-victimacolectiva",
      id: "agregar-victimacolectiva",
      data:  {
        disable_with: false } %>
</div>
