<%- model_class = Sivel2Gen::Caso -%>
<div class="page-header">
  <% if !defined?(@formulario_sin_titulo) || !@formulario_sin_titulo %>
    <h1>
      <%=t '.title', :default => 
      ["Edita #{model_class.model_name.human.titleize }"] %>
    </h1>
  <% end %>
</div>

<%= render :partial => 'form' %>
