<!--
  // Mapa de casos sobre OpenStreetMap
  // Desarrollado por Luis Alejandro Cruz luisalejo@unicauca.edu.co
  // Financiado por CINEP/PPP con recursos de la Universidad de Sheffield
  // Cedido al dominio publico de acuerdo a la legislacion colombiana 
-->
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.Default.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.css' rel='stylesheet' />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
<div id="filtro-osm">
  <div class="card border-primary">
    <div class="card-body">
      <h4 class="card-title">Filtrar Casos</h4>
      <form name="configuracion" onsubmit="agregarCasosOsm(true); return false;">
        <%= render :partial => "sivel2_gen/casos/filtroybotones_mapaosm" %>
      </form>
    </div>
  </div>
</div>
<div id="mapa-osm"></div>
<% if current_usuario %>
  <div id="agrega-capa">
    <button id="agregar-capa" type="button" class="btn btn-primary btn-sm">Agregar capa GeoJSON (&lt;100K)</button>
  </div>
  <div id="descarga-mapa">
    <button id="descargar-mapa" type="button" class="btn btn-primary btn-sm"><a id= "enlace-descarga">Descargar capa de casos</a></button>
  </div>
<% end %>

<% if current_usuario %>
 <script defer="true">
   document.addEventListener('sip:cargado', function (e) {  
     presentarMapaOsm(true)
   }, false);
 </script>
<% else %>
  <script defer="true">
    document.addEventListener('sip:cargado', function (e) {  
     presentarMapaOsm(false)
    }, false);
  </script>
<% end %>
