<!DOCTYPE html>
<html>
  <head>
    <title>Mapa de violaciones a los derechos humanos e infracciones al
      derecho internacional humanitario</title>
    <% stylesheet_link_tag "stylesheets/sivel2_gen/mapa.css" %>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js">
    </script>
  </head>
  <body>
    <div class= "page-header">
      <h1>Mapa de Casos</h1>
    </div>  
    <div id="container">
      <div id="map_canvas"></div>
      <div id="settings_canvas">
        <div id="loader" class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <form name="settings" onsubmit="addCases(true); return false;">
          <input name="num" type="hidden" value="200" />
          <div class="settings_box" id="settings_box1">
            <h5>Fecha</h5>
            <div class="settings_element">
              <div class="left">Desde:</div>
              <div class="right">
                <input type="text" name="desde" class="inputDesde"
                                                id="inputDesde"
                                                value=""
                                                size="11" style="float:right;" />
              </div>
              <div class="clear"></div>
            </div>
            <div class="settings_element">
              <div class="left">Hasta:</div>
              <div class="right">
                <input type="text" name="hasta" class="inputHasta"
                                                id="inputHasta"
                                                value=""
                                                size="11" style="float:right;" />
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="settings_box" id="settings_box2">
            <h5>Localización</h5>
            <div class="settings_element">
              <div class="left">Dep:</div>
              <div class="right">
                <select name="departamento" id="departamento"
                                            style="width:140px;">
                  <option value="0">Mostrar todos</option>
                  <option value="">-----------------------</option>
                  <%= options_for_select(Sip::Departamento.habilitados.where(id_pais: 170).all.collect { |d| [d.nombre, d.id ] })
                %> 
              </select>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="settings_box" id="settings_box3">
            <h5>Otros Filtros</h5>
            <div class="settings_element">
              <div class="left">P. Resp:</div>
              <div class="right">
                <select name="prresp" id="prresp" style="width:150px;">
                  <option value="0">Mostrar todos</option>
                  <option value="">-----------------------</option>
                  <%= options_for_select(Sivel2Gen::Presponsable.all.collect { |d| [d.nombre, d.id ] }) %>
                </select>
              </div>
            </div>
            <div class="settings_element">
              <div class="left">Violencia:</div>
              <div class="right">
                <select name="tvio" id="tvio" style="width:150px;">
                  <option value="0">Mostrar todos</option>
                  <option value="">-----------------------</option>
                  <%= options_for_select(Sivel2Gen::Categoria.all.collect { |d| [d.nombre, d.id ] })%>
                </select>
              </div>
            </div>

            <div class="settings_element">
              <div class="left">Etiqueta:</div>
              <div class="right">
                <select name="etiqueta" id="etiqueta" style="width:150px;">
                  <option value="0">Mostrar todos</option>

                </select>
              </div>
            </div>
          </div>

          <div class="clear"></div>
          <div class="submit_box">
            <input type="button" class="button" value="Filtrar casos"
                                                onclick="addCases(true); return false;"/>
            <span id="nrcasos" class="nrcasos"></span>
          </div>
        </form>
      </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <% javascript_include_tag "javascript/sivel2_gen/mapag/mapag.js.erb" %>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVATZz-dHXuzNkySAo1O2VQ30ixzhwf7w&language=es&region=CO&callback=initialize">
    </script>

  </body>

</html>
