<!--
  // Mapa de casos sobre OpenStreetMap
  // Desarrollado por Luis Alejandro Cruz luisalejo@unicauca.edu.co
  // Financiado por CINEP/PPP con recursos de la Universidad de Sheffield
  // Cedido al dominio publico de acuerdo a la legislacion colombiana 
-->
<div data-controller="sivel2-gen--mapaosm"
  data-sivel2-gen--mapaosm-usuario-autenticado="<%= current_usuario ? 'true' : 'false' %>">
  <div id="filtro-osm">
    <div class="card border-primary">
      <div class="card-body">
        <h4 class="card-title">Casos sobre OpenStreetMap</h4>
        <form name="configuracion" onsubmit="agregarCasosOsm(true); return false;">
          <%= render :partial => "sivel2_gen/casos/filtroybotones_mapaosm" %>
        </form>
      </div>
    </div>
  </div>
  <div id="mapa-osm"></div>
  <% if current_usuario %>
    <div id="agrega-capa">
      <button id="agregar-capa" type="button" data-action="sivel2-gen--mapaosm#agregarCapaGeojson" class="btn btn-primary btn-sm">Agregar capa GeoJSON (&lt;100K)</button>
    </div>
    <div id="descarga-mapa">
      <button id="descargar-mapa" type="button" data-action="sivel2-gen--mapaosm#descargarCapaCasos" class="btn btn-primary btn-sm"><a id= "enlace-descarga">Descargar capa de casos</a></button>
    </div>
  <% end %>
</div>
    <script>
      window.Sivel2Gen__ServConfig = { 
              mapaosmLatInicial: <%= ENV.fetch(
                'SIVEL2_MAPAOSM_LATINICIAL', 4.6682
              ) %>,
              mapaosmLongInicial: <%= ENV.fetch(
                'SIVEL2_MAPAOSM_LATINICIAL', 4.6682
              ) %>
          }
</script>
