<!DOCTYPE html>
<html>
  <head>
    <title>Reporte Revista</title>
    <style>
      .alerta {
        color: red;
      }
    </style>
  </head>
  <body>
    <% @conscaso.try(:each) do |ccaso| %>
      <% @caso = caso = Sivel2Gen::Caso.find(ccaso.caso_id) %>
      <%= render partial: 'reporterevista', locals: {caso: caso} %>
    <% end %>
  </body>
</html>
