<!DOCTYPE html>
<html>
  <head>
    <title>Reporte Revista</title>
    <style>
      .alerta {
        color: red;
      }
    </style>
  </head>
  <body>
    <% @conscaso.try(:each) do |caso| %>
      <p>
        <!-- % if @incluir.include?('casoid') %-->
          <!--%= link_to caso.caso_id, sivel2_gen.caso_path(caso.caso_id) %-->
        <!--% end %-->
        <% if @incluir.include?('fecha') %>
          <%= I18n.localize(caso.fecha, format: '%B %d/%Y').capitalize %>
        <% end %>
      </p>
      <p>
        <% if caso.ubicacion.count == 0 %>
          <div class='alerta'>Caso sin ubicación</div>
        <% elsif caso.ubicacion.count > 1 %>
          <div class='alerta'>Caso con varias ubicaciones</div>
        <% elsif caso.ubicacion[0].departamento == nil %>
          <div class='alert'>Ubicacion sin departamento</div>
        <% else %>
          DEPARTAMENTO: <%= caso.ubicacion[0].departamento.nombre %>
          <% if caso.ubicacion[0].municipio %>
            <br>MUNICIPIO: <%= caso.ubicacion[0].municipio.nombre %>
          <% end %>
        <% end %>
      </p>
      <p>
        <% @markdown ||= Redcarpet::Markdown.new(Redcarpet::Render::HTML, {
          autolink: true,
          space_after_headers: true,
          fenced_code_blocks: true,
          underline: true,
          highlight: true,
          tables: true }) %>
        <% c = @markdown.render(caso.memo).html_safe %>
        <%= c %>
      </p>
    <% end %>
  </body>
</html>
