/* Mapa de casos sobre OpenStreetMap
   Desarrollado por Luis Alejandro Cruz luisalejo@unicauca.edu.co
   Financiado por CINEP/PPP con recursos de la Universidad de Sheffield
   Cedido al dominio publico de acuerdo a la legislacion colombiana */

.navbarosm{
  margin-bottom: 0px;
}
.cardosm{
  border: 0px;
}
.cardbodyosm{
  padding: 0.5rem;
}
.select_mapaOsm, .inputsubir{
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.info, .agregaCapaDiv{
  width: 400px;
  padding: 5px 5px 5px 5px;
  background-color: #fff;
  -webkit-box-shadow: -5px 5px 8px 0px rgba(34,34,34,1);
  -moz-box-shadow: -5px 5px 8px 0px rgba(34,34,34,1);
  box-shadow: -5px 5px 8px 0px rgba(34,34,34,1);
}

.info{
  height: 80vh;
}

.panel-infomapa {
  height: 65vh;
  overflow-y:scroll;
}

#infow{
  height: 80vh;
}

#filtroOsm{
  width: 100vw;
  margin-left: 0px;
  margin-top: 0px;
  z-index:2;
}

#mapa_osm {
  width: 100%; 
  height: 93vh;
  float: left;
  z-index:1; 
}

.select_mapaOsm { 
  background-color: #266DD3;
}

.input_mapaOsm{ 
  background-color: #266DD3;
  width: 140px;
  height: 24px;
  margin-top: 5px;
}

.input_mapaOsm::placeholder{
  color: #FFF;
}

#enlaceDescarga{
  color: #FFF;
}
